.wrap{
	width: 90%;
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	:global{
		a{
			color: #000;
		}
		.spinWrap{
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 100vh;
			background-color: #fff;
			top: 0;
		}
		.ant-spin{
		    transform: scale(2.5)
		}
		.title{
			line-height: 80px;
			font-size: 24px;
			text-indent: 1em;
		}
		.ant-row{
			margin-bottom: 20px;
			height: 250px;
			position: relative;
		}
		.ant-col-6{
			position: absolute;
			height: 100%;
			img{
				max-height: 100%;
				max-width: 100%;
			}
		}
		.ant-col-18{
			float: right;
			box-sizing: border-box;
			padding-left: 10px;
			.name{
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 10px;
			}
			.summary{
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}