.wrap{
	width: 90%;
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	:global{
		.title{
			line-height: 80px;
			font-size: 24px;
			text-indent: 1em;
		}
		.ant-row{
			margin-bottom: 20px;
		}
		.ant-col-10{
			img{
				width: 100%;
			}
		}
		.ant-col-14{
			position: absolute;
			right: 0;
			height: 100%;
			box-sizing: border-box;
			padding-left: 10px;
			.name{
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 10px;
			}
			.summary{
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}