.wrap {
	width: 90%;
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
	/* Prevent native touch events on Windows */
	-ms-touch-action: none;
	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	:global {
		a {
			color: #000;
		}
		.spinWrap {
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 100vh;
			background-color: #fff;
			z-index: 1000;
			top: 0;
		}
		.ant-spin {
			transform: scale(2.5);
		}
		.content {
			position: relative;
		}
		.titleImg {
			height: 300px;
			width: 100%;
			margin-bottom: 20px;
			position: relative;
			.glass {
				width: 100%;
				height: 100%;
				position: absolute;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				filter: blur(4px);
				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, .3);
				}
			}
		}
		// 遮罩
		.title {
			z-index: 10;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			font-size: 50px;
			box-sizing: border-box;
			padding: 0 20px;
			background-size: cover;
			color: #fff;
			.ant-btn-dashed {
				border: 1px solid #fff;
				background-color: transparent;
				color: #fff;
				border-radius: 4px;
			}
		}
		.ant-row {
			border-bottom: 20px solid #fff;
			box-shadow: 0 1px 0 #000;
			margin-bottom: 20px;
			position: relative;
		}
		.ant-col-4 {
			position: absolute;
			height: 100%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		.ant-col-20 {
			height: 100%;
			float: right;
			box-sizing: border-box;
			padding-left: 10px;
			display: flex;
			align-items: center;
			.name {
				font-weight: bold;
				font-size: 32px;
				margin-bottom: 10px;
			}
		}
	}
}
